   *{
    text-decoration: none;
   }
   .navbar{
      width: 100%;
      padding: 20px;
      position: fixed;
      top: 0px;
      text-align: center;
      transition: .5s;
      z-index: 1;
     }

     .navbar ul li{
      list-style-type: none;
      display:inline-block;
      padding: 10px 50px;
      color: white;
      font-size: 24px;
      font-family: sans-serif;
      cursor: pointer;
      border-radius:10px;
      transition: .5s;
     }

     .navbar ul li:hover{
      background: orange;
     }
        ul li {
       display: inline-block;
   }
   
   ul li a {
       text-decoration: none;
       color: #fff;
       padding: 5px 20px;
       border: 1px solid transparent;
       transition: 0.5s ease;
   }
  
   
   ul li.active a {
       background-color: #fff;
       color: #000;
   }
.parallax {
  /* The image used */
  background-image: url("bg.jpg");

  /* Set a specific height */
  min-height: 850px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  box-sizing:border-box;
}

body {
  background-color: #CBCACA;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 45px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 50px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}
.container1 {
  padding: 45px;
}
.column-661 {
  float: right;
  width: 55%;
  padding: 50px;
}
