   *{
    text-decoration: none;
   }
   .navbar{
      width: 100%;
      padding: 20px;
      position: fixed;
      top: 0px;
      text-align: center;
      transition: .5s;
      z-index: 1;
     }

     .navbar ul li{
      list-style-type: none;
      display:inline-block;
      padding: 10px 50px;
      color: white;
      font-size: 24px;
      font-family: sans-serif;
      cursor: pointer;
      border-radius:10px;
      transition: .5s;
     }

     .navbar ul li:hover{
      background: orange;
     }
        ul li {
       display: inline-block;
   }
   
   ul li a {
       text-decoration: none;
       color: #fff;
       padding: 5px 20px;
       border: 1px solid transparent;
       transition: 0.5s ease;
   }
  
   
   ul li.active a {
       background-color: #fff;
       color: #000;
     }
* {
    box-sizing: border-box;
}
.container {
    position: absolute;
    top: 100px;
     display: flex;
     flex-wrap: wrap;
     padding: 5px;
}
.card{
    display: block;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.card:hover .overlay{
    opacity: 1;
    transition: .5s ease;
}
.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.item {
    display: block;
     margin: 5px;
}