*{
    margin:0;
    padding:0;
}
#container
{ 
    margin: auto;
    width: 80%;
    min-height:800px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: corner;
}
    .col100
    {
        text-align: center;
        width: 100%;
        margin: auto auto;
    }
    .menu
    {
        width:100%;
        background-color: rgb(0, 0, 0);
        min-height: 50px; 
    }
    .menu ul{
        list-style-type: none;
        
        float: left;
        margin-top: 15px;
    }
    .menu ul li
    {
        
        padding: 10px;
        display: inline;
    }
    .menu ul li:hover
    {
        background-color: aqua;
    }
    .menu ul li a{
        color: rebeccapurple;
        text-decoration: none;
        font-size: 20px;
        font-weight: 900;
        font-variant: small-caps;
    }
    .col25
    {
    
        width: 24%;
        margin: auto auto;
        float: left;
    }
    .col33
    {
        text-align: center;
        width: 33%;
        margin: 0px 0px;
        float:left;
    }
    .bor1
    {
        border: 2px solid black;
        height: 400px;
    }
    .bor2
    {
        border: 2px solid black;
        height: 200px;
    }
    .col75
    {
    
        width: 74%;
        margin: auto auto;
        float: left;
    }