
 
    body 
    {
        background-image: url('../images/images/c2_03.png'), url('../images/images/c2_05.png'),url('../images/images/c2_09.png'),url('../images/images/c2_10.png');
        background-position: top left, top right, bottom right, bottom left;
        background-repeat: no-repeat;
        background-color: #d83939;
        color:white;
    } 
#container{ 
    margin: auto;
    width: 960px;
    min-height:800px;
    background-image: url('../images/papers.co-vc59-texture-pattern-dark-blue-36-3840x2400-4k-wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top-left;
    background-size: corner;
    

}  
.greenbg{
    background-color: #17f017; border-bottom:4px solid #e72f2f;
}
.redbg
{
    background-color: #325a32; border:2px solid #d83939; border-radius: 9px 9px 20px 20px; 
}
#myheading
{
    font-variant: small-caps;
}